$darker-purple: #515a77;
$lighter-purple: #616b8e;
$red: #c9302c;

$header-background-color: #8994B8;
$highlight-color: #428bca;
$header-foreground-color: #e6eaf3;
$foreground-color: #686f8a;
$lighter-background-color: #e6eaf3;
$darker-background-color: #dcdfec;