@media only screen and (max-width: 320px) {
	.stat-axis {
		display: none;
	}

	.stat-chart {
		display: none;
	}

	.stat-reading {
		-webkit-flex: 1 !important;
		flex: 1 !important;
	}

	.reading-container {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.hideable-text {
		display: none;
	}
}