html {
  height: 100%; }

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 70px 10px;
  background-image: linear-gradient(to bottom, #515a77 0%, #616b8e 100%);
  color: #686F8A; }

.container-fluid {
  padding: 0 10px; }

.main-container {
  margin-bottom: 20px; }

.chart-label, .header-label, .header-interactive, .stat-row .start-date, .header-row .start-date, .stat-row .end-date, .header-row .end-date, .stat-row .stat-label, .header-row .stat-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.header-label, .header-interactive, .stat-row .start-date, .header-row .start-date, .stat-row .end-date, .header-row .end-date {
  line-height: 40px;
  vertical-align: middle;
  color: #E6EAF3; }

.header-interactive {
  background-color: #428bca !important;
  text-align: center; }

.acme-navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #E6EAF3;
  box-shadow: 0px 5px 10px 0px #323232; }
  .acme-navbar ol.breadcrumb {
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    background-color: #E6EAF3; }
    .acme-navbar ol.breadcrumb li + li:before {
      content: ">"; }
  .acme-navbar button {
    margin-left: 10px; }

.stat-row, .header-row {
  display: -webkit-flex;
  display: flex;
  height: 150px;
  margin: 1px;
  background-color: #E6EAF3; }
  .stat-row .dropdown, .header-row .dropdown {
    height: 100%;
    background-color: inherit; }
  .stat-row .dropdown-toggle, .header-row .dropdown-toggle {
    color: #fff;
    background-color: inherit;
    height: 100%; }
  .stat-row > .column, .header-row > .column {
    position: relative;
    height: 100%; }
  .stat-row .start-date, .header-row .start-date {
    float: left; }
  .stat-row .end-date, .header-row .end-date {
    float: right; }
  .stat-row .stat-axis, .header-row .stat-axis {
    -webkit-flex: 0 0 40px;
    flex: 0 0 40px;
    background-color: #DCDFEC;
    border-right: 1px solid #999; }
  .stat-row .stat-chart, .header-row .stat-chart {
    -webkit-flex: 1;
    flex: 1;
    width: 200px; }
  .stat-row .stat-reading, .header-row .stat-reading {
    -webkit-flex: 0 0 150px;
    flex: 0 0 150px;
    background-color: #DCDFEC;
    border-left: 1px solid #999; }
  .stat-row .stat-label, .header-row .stat-label {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .stat-row .stat-label-header, .header-row .stat-label-header {
    top: 4px; }
  .stat-row .stat-label-footer, .header-row .stat-label-footer {
    bottom: 4px; }
  .stat-row h2, .header-row h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 150px;
    vertical-align: middle; }
    .stat-row h2.blood-pressure, .header-row h2.blood-pressure {
      font-size: 36px; }

.header-row {
  background-color: #8994B8;
  height: 40px; }
  .header-row .stat-chart {
    padding: 0px 5px; }

.danger-reading {
  color: red; }

.invalid-field {
  color: #ff0000; }

.no-data-container button {
  margin-top: 40px; }

.panel-default {
  padding: 0; }
  .panel-default .panel-heading {
    background-color: #8994B8;
    color: #fff; }
  .panel-default .list-group-item {
    background-color: #E6EAF3; }

.patient-name {
  font-size: 1.2em;
  font-weight: bold; }

@media only screen and (max-width: 320px) {
  .stat-axis {
    display: none; }

  .stat-chart {
    display: none; }

  .stat-reading {
    -webkit-flex: 1 !important;
    flex: 1 !important; } }
@media only screen and (max-width: 700px) {
  .hideable-text {
    display: none; } }
#reading-modal .input-group .form-control {
  width: 6em; }
#reading-modal .input-group-addon {
  width: 5em;
  float: left;
  line-height: 1.42857143; }
