html {
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 70px 10px;
	background-image: linear-gradient(to bottom, #515A77 0%, #616B8E 100%);
	color: #686F8A;
}

.container-fluid {
	padding: 0 10px;
}

.main-container {
	margin-bottom: 20px;
}

.chart-label {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.header-label {
	@extend .chart-label;
	line-height: 40px;
	vertical-align: middle;
	color: #E6EAF3;
}

.header-interactive {
	@extend .header-label;
	background-color: #428bca !important;
	text-align: center;
}

.acme-navbar {
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;

	background-color: #E6EAF3;

	ol.breadcrumb {
		margin-top: 0;
		margin-bottom: 0;
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
		background-color: #E6EAF3;

		li+li:before {
			content: ">";
		}
	}

	button {
		margin-left: 10px;
	}

	box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 1);
}

.stat-row {
	display: -webkit-flex;
	display: flex;
	height: 150px;
	margin: 1px;
	background-color: #E6EAF3;

	.dropdown {
		height: 100%;
		background-color: inherit;
	}

	.dropdown-toggle {
		color: #fff;
		background-color: inherit;
		height: 100%;
	}

	& > .column {
		position: relative;
		height: 100%;
	}

	.start-date {
		@extend .header-label;
		float: left;
	}

	.end-date {
		@extend .header-label;
		float: right;
	}


	.stat-axis {
		-webkit-flex: 0 0 40px;
		flex: 0 0 40px;
		background-color: #DCDFEC;
		border-right: 1px solid #999;
	}

	.stat-chart {
		-webkit-flex: 1;
		flex: 1;
		width: 200px;
	}

	.stat-reading {
		-webkit-flex: 0 0 150px;
		flex: 0 0 150px;
		background-color: #DCDFEC;
		border-left: 1px solid #999;
	}

	.stat-label {
		@extend .chart-label;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.stat-label-header {
		top: 4px;
	}

	.stat-label-footer {
		bottom: 4px;
	}

	h2 {
		margin: 0;
		font-size: 48px;
		font-weight: bold;
		line-height: 150px;
		vertical-align: middle;

		&.blood-pressure {
			font-size: 36px;
		}
	}

}

.header-row {
	@extend .stat-row;
	background-color: #8994B8;
	height: 40px;

	.stat-chart {
		padding: 0px 5px;
	}

}

.danger {
	fill: red;
}

.warning {
	fill: yellow;
}

.normal {

}

.no-data-container {
	button {
		margin-top: 40px;
	}
}

.panel-default {
	padding: 0;

	.panel-heading {
		background-color: #8994B8;
		color: #fff;
	}

	.list-group-item {
		background-color: #E6EAF3;
	}
}


.patient-name {
	font-size: 1.2em;
	font-weight: bold;
}

@media only screen and (max-width: 320px) {
	.stat-axis {
		display: none;
	}

	.stat-chart {
		display: none;
	}

	.stat-reading {
		-webkit-flex: 1 !important;
		flex: 1 !important;
	}
}

@media only screen and (max-width: 700px) {
	.hideable-text {
		display: none;
	}
}

#reading-modal {
	.input-group {
		.form-control {
			width: 6em;
		}
	}

	.input-group-addon {
		width: 5em;
		float: left;
		line-height: 1.42857143;
	}
}