// The main SCSS Stylesheet
@import 'colors';
@import 'navbar';
@import 'detail';
@import 'list';
@import 'modal';
@import 'responsive';

html {
	height: 100%;
}

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 70px 10px;
	background-image: linear-gradient(to bottom, $darker-purple 0%, $lighter-purple 100%);
	color: $foreground-color;
}

.container-fluid {
	padding: 0 10px;
}

.main-container {
	padding-bottom: 20px;
}

.no-data-container {
	background-color: $lighter-background-color;

	button {
		margin-top: 40px;
	}
}

.danger-reading {
	color: $red;
}


