<div ng-include="'app/views/partials/header.html'"></div>

<div class="container main-container">
	<div class="no-data-container col-md-8 col-md-offset-2 well" ng-hide="readings && readings.length > 0">
		<h1 class="text-center">This patient has no vital information yet.</h1>
		<button class="btn btn-primary center-block" data-toggle="modal" data-target="#reading-modal"><span class="glyphicon glyphicon-plus"></span> Add Vitals</button>
	</div>
	
	<div class="stats-container" ng-show="readings && readings.length > 0">
		<div class="row stat-row header-row">
			<div class="column stat-axis header-interactive">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="time-dropdown" data-toggle="dropdown">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="time-dropdown">
						<li role="presentation"><a role="menuitem" href="" tabindex="-1" ng-click="setDateFilterDays(1)">Last 24 Hours</a></li>
						<li role="presentation"><a role="menuitem" href="" tabindex="-1" ng-click="setDateFilterDays(7)">Last Week</a></li>
						<li role="presentation"><a role="menuitem" href="" tabindex="-1" ng-click="setDateFilterDays(30)">Last 30 Days</a></li>
						<li role="presentation"><a role="menuitem" href="" tabindex="-1" ng-click="setDateFilterDays(365)">Last Year</a></li>
						<li role="presentation"><a role="menuitem" href="" tabindex="-1" ng-click="setDateFilterDays()">All Time</a></li>
					</ul>
				</div>
			</div>
			<div class="column stat-chart">
				<span class="start-date">{{readings[0].timestamp | date }}</span>
				<span class="end-date">{{readings[readings.length - 1].timestamp | date }}</span>
			</div>
			<div class="column stat-reading header-interactive">{{selectedReading.timestamp | date:'short' }}</div>
		</div>
		<div class="row stat-row">
			<div class="column stat-axis">
				<p class="stat-label stat-label-header text-center">150</p>
				<p class="stat-label stat-label-footer text-center">0</p>
			</div>
			<div class="column stat-chart c3-chart"
				 ng-model="readings"
				 data-property="pulse_bpm"
				 data-on-selected="setSelectedReading(data)"
				 data-y-axis-min="0.0"
				 data-y-axis-max="150.0">
			</div>
			<div class="column stat-reading">
				<p class="stat-label stat-label-header text-center">Pulse</p>
				<h2 class="text-center" ng-class="{'danger-reading': selectedReading.pulse_bpm < 40 || selectedReading.pulse_bpm > 130}">{{selectedReading.pulse_bpm}}</h2>
				<p class="stat-label stat-label-footer text-center">BPM</p>
			</div>
		</div>

		<div class="row stat-row">
			<div class="column stat-axis">
				<p class="stat-label stat-label-header text-center">105</p>
				<p class="stat-label stat-label-footer text-center">95</p>
			</div>
			<div class="column stat-chart c3-chart"
				 ng-model="readings"
				 data-property="temperature_degf"
				 data-on-selected="setSelectedReading(data)"
				 data-y-axis-min="95.0"
				 data-y-axis-max="105.0">
			</div>
			<div class="column stat-reading">
				<p class="stat-label stat-label-header text-center">Temperature</p>
				<h2 class="text-center" ng-class="{'danger-reading': selectedReading.temperature_degf < 96 || selectedReading.temperature_degf >= 100 }">{{selectedReading.temperature_degf}}</h2>
				<p class="stat-label stat-label-footer text-center">&deg;F</p>
			</div>
		</div>

		<div class="row stat-row">
			<div class="column stat-axis">
				<p class="stat-label stat-label-header text-center">160</p>
				<p class="stat-label stat-label-footer text-center">60</p>
			</div>
			<div class="column stat-chart c3-chart"
				 ng-model="readings"
				 data-property='["blood_pressure_sys", "blood_pressure_dia"]'
				 data-on-selected="setSelectedReading(data)"
				 data-y-axis-min="60.0"
				 data-y-axis-max="160.0">
			</div>
			<div class="column stat-reading">
				<p class="stat-label stat-label-header text-center">Blood Pressure</p>
				<h2 class="text-center blood-pressure" ng-class="{'danger-reading': selectedReading.blood_pressure_dia < 50 || selectedReading.blood_pressure_dia > 100 || selectedReading.blood_pressure_sys < 90 || selectedReading.blood_pressure_sys > 160}">{{selectedReading.blood_pressure_sys}} / {{selectedReading.blood_pressure_dia}}</h2>
				<p class="stat-label stat-label-footer text-center">mm Hg</p>
			</div>
		</div>

		<div class="row stat-row">
			<div class="column stat-axis">
				<p class="stat-label stat-label-header text-center">30</p>
				<p class="stat-label stat-label-footer text-center">0</p>
			</div>
			<div class="column stat-chart c3-chart"
				 ng-model="readings"
				 data-property="respiratory_rate_rpm"
				 data-on-selected="setSelectedReading(data)"
				 data-y-axis-min="0.0"
				 data-y-axis-max="30.0">
			</div>
			<div class="column stat-reading">
				<p class="stat-label stat-label-header text-center">Respiratory Rate</p>
				<h2 class="text-center" ng-class="{'danger-reading': selectedReading.respiratory_rate_rpm < 8 || selectedReading.respiratory_rate_rpm > 24}">{{selectedReading.respiratory_rate_rpm}}</h2>
				<p class="stat-label stat-label-footer text-center">RPM</p>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/views/partials/reading-modal.html'"></div>
<div ng-include="'app/views/partials/table-modal.html'"></div>
