<div ng-include="'app/views/partials/header.html'"></div>

<div class="container">
	<div class="no-data-container col-md-8 col-md-offset-2 well" ng-hide="patients && patients.length > 0">
		<h1 class="text-center">There are no patients yet. Please add a patient to begin.</h1>
		<button class="btn btn-primary center-block" data-toggle="modal" data-target="#patient-modal"><span class="glyphicon glyphicon-plus"></span> Add Patient</button>
	</div>

	<div class="panel panel-default col-md-8 col-md-offset-2" ng-show="patients && patients.length > 0">
		<div class="panel-heading">
			<h3 class="panel-title">Patient List</h3>
		</div>
		<ul class="list-group">
			<li ng-repeat="patient in patients | orderBy:['name.last', 'name.first']" class="list-group-item">
				<a ng-href="#/patients/{{patient._id}}">{{patient.name.first}} {{patient.name.last}}</a>
			</li>
		</ul>
	</div>
</div>

<div ng-include="'app/views/partials/patient-modal.html'"></div>

